<style>
    .upload-container {
  text-align: center;
  padding: 20px;
  border: 2px dashed #007bff;
  max-width: 500px;
  margin: auto;
  border-radius: 10px;
}

button {
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

mat-progress-bar {
  margin-top: 10px;
}

</style>
<div class="upload-container">
    <h2>Extraction de Texte</h2>
  
    <input type="file" (change)="onFileSelected($event)">
    <button mat-raised-button color="primary" (click)="uploadFile()">Envoyer</button>
  
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  
    <div *ngIf="response">
      <h3>Texte Extrait :</h3>
      <p>{{ response.full_text }}</p>
      <h3>Catégorie :</h3>
      <p>{{ response.category }}</p>
    </div>
  </div>
  