<style>
  /* Correction du style pour h3 */
  h2 {
    color: rebeccapurple; /* Couleur du texte */
    font-weight: bold;
  }

  /* Correction du style pour le span */
  h2 span {
    color: black; /* Couleur pour le mot "Utilisateur" */
    font-weight: normal;
  }

  /* Style du bouton */
  .btn-logout {
    background-color: rgb(202, 75, 75); /* Fond rouge */
  
  }

  .btn-logout:hover {
    background-color: rgb(46, 11, 11); /* Changement au survol */
  }
</style>

<nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    
    <!-- Barre de Recherche -->
    <form class="flex-grow-1 mr-3">
      <div class="input-group no-border">
        <div class="input-group-append">
       
        </div>
      </div>
    </form>

    <!-- Section Username et Logout -->
    <div class="d-flex align-items-center">
      <h2 class="mb-0 mr-3"><span>Utilisateur :</span>{{ fullName }}</h2>
      <button (click)="logOut()" class="btn btn-logout"> 
        <i class="nc-icon nc-button-power"></i> Déconnexion
      </button>
    </div>
  
  </div>
</nav>
