<h2 mat-dialog-title>Add New User</h2>

<div mat-dialog-content>
  <mat-form-field class="full-width">
    <mat-label>Nom</mat-label>
    <input matInput [(ngModel)]="user.name" placeholder="Saisir le nom d'utilisateur">
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="user.email" placeholder="Saisir l'email d'utilisateur">
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Mot de Passe</mat-label>
    <input matInput [(ngModel)]="user.Password" placeholder="Saisir le Mot de Passe">
  </mat-form-field>
  

  <mat-form-field class="full-width">
    <mat-label>Departement</mat-label>
    <input matInput [(ngModel)]="user.department" placeholder="Saisir le departement">
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Role</mat-label>
    <input matInput [(ngModel)]="user.role" placeholder="Saisir le Role">
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button mat-button color="primary" (click)="saveUser()">Enregistrer</button>
</div>
